
.vs/config/applicationhost.config
obligatorioUnoProg3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/obligatorioUnoProg3/v14/.suo
.vs/config/applicationhost.config
.vs/obligatorio/v14/.suo
obligatorio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
